<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes Cadastrados</title>
    <link rel="stylesheet" href="../css/visu-clientes.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <h1>Clientes Cadastrados</h1>
      <span id="qtde-clientes"></span>
    </header>
    <!-- main -->
    <main>
      <nav>
        <a href="/">Início</a>
        <a href="/clientes/novo">Cadastrar</a>
        <a href="/clientes">Atualizar</a>
        <a href="/clientes/baixar">Exportar Excel</a>
      </nav>
      <!-- section -->
      <section>
        <!-- input de pesquisa -->
        <input
          type="text"
          id="pesquisa"
          placeholder="Pesquisar cliente por nome..."
        />
        <!-- ul de item clientes -->
        <ul></ul>
      </section>
    </main>
  </body>
  <script src="../js/clientes-cadastrados.js"></script>
</html>
