<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <header>
      <h1>Formulário de Cadastro</h1>
      <nav>
        <a href="/">Início</a>
        <a href="/clientes">Listar</a>
      </nav>
    </header>
    <main>
      <section>
        <h1>Cadastro de Cliente</h1>
        <form action="/clientes" method="post">
          <label for="nome">Nome:</label><br />
          <input type="text" id="nome" name="nome" required autofocus />

          <label for="cpf">CPF:</label><br />
          <input
            type="text"
            id="cpf"
            name="cpf"
            maxlength="14"
            placeholder="000.000.000-00"
            required
          />

          <label for="email">Email:</label><br />
          <input
            type="email"
            id="email"
            name="email"
            placeholder="seunome@gmail.com"
          />

          <label for="telefone">Telefone:</label><br />
          <input
            type="tel"
            id="telefone"
            name="telefone"
            placeholder="(00) 00000-0000"
            required
          />
          <!-- caixa para selecionar o produto que a pessoa alugou -->
          <label for="produtos">Produto alugado:</label>
          <select name="produtos" id="produtos" required>
            <option value="" disabled selected>Selecione um produto:</option>
            <option value="Andaime">Andaime</option>
            <option value="Furadeira">Furadeira</option>
          </select>
          <button type="submit">Cadastrar</button>
        </form>
      </section>
    </main>
    <script src="../js/form.js"></script>
  </body>
</html>
