@import url(./reset.css);
@import url(./header.css);

/* em coluna, para mostra o titulo e a qtde de clientes no banco */
header {
  text-align: center;
}

header span {
  font-size: 1.2rem;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #ccc;
}
nav a {
  padding: 0.5rem;
  text-align: center;
  border-radius: 4px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav a:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  nav {
    gap: 0.5rem;
  }
}

/* input de pesquisa */
#pesquisa {
  width: 100%;
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: none;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 1rem;
}

.item-cliente {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.item-cliente button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.item-cliente button:hover {
  background-color: #2980b9;
}
